.section__1{
	background-color: black;
	height: 100vh;
}
.section__1__item__crown {
	position: relative;
	top: 16px;
  text-align: center
}
.section__1__container__photo__text{
	margin-top: 10%;
	align-self: flex-end;
}
.section__1__text__item__color{
	color: #A07B50;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Roboto'
}
.section__1__text__item__title{
	color: white;
	font-family: Yeseva One;
	font-size: 52px;
	font-style: normal;
	font-weight: 400;
	line-height: 60px;
	letter-spacing: 0em;
}
.section__1__text__item__button__text{
	margin-top: 8.5%;
	color: white;
	font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 16px;
letter-spacing: 0em;
}
.section__1__text{
	position: absolute;
	top: 27%;
}
.section__1__text__item__button{
	background-color: black;
	text-align: center;
width: 200px;
height: 52px;
border: 0.5px solid #A07B50;
box-sizing: border-box;
}
.section__1__contact__container__custom{
	margin-left: 3%;
}
.section__1__photo{
	position: absolute;
	top: 2%;
	left:65%; 
}
.section__1__photo__item__img__img{
max-width: 100%;
max-height: 100%;
}
.section__1__contact{
	position: relative;
	top: 45%;
}
.section__1__contact__line{
width: 0px;
height: 77.5px;
border: 0.5px solid rgba(255, 255, 255, 0.61);
}

